:root {
  --main-color: #be1e2d;
}
.current__location__icon {
  @apply bg-red-700 relative flex items-center justify-center rounded-badge w-10 h-10;
}
.current__location__icon:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: 10px solid #be1e2d;
  animation: 1s ease-out infinite forwards blurBubble;
}

@keyframes blurBubble {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    border: 5px solid #be1e2d;
  }
}
