@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* fonts */
  @font-face {
    font-family: 'SSTArabic';
    src: url('./fonts/SSTArabic-Bold.woff') format('woff'),
      url('./fonts/SSTArabic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'SSTArabic';
    src: local('SSTArabic Roman'), local('SSTArabic-Roman'),
      url('./fonts/SSTArabic-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SSTArabic';
    src: local('SSTArabic Light'), local('SSTArabic-Light'),
      url('./fonts/SSTArabic-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
}
